body {
	font-family: 'Lato', sans-serif;
    line-height: 1.55;
    color:rgb(50, 50, 50);

    padding-top: .5em;
	margin: 0;
	
	background: rgb(243, 243, 243);
}

h1,
h2,
h3 {
	line-height: 1.4;
}

h1 {
	font-size: 1.5em;
	font-weight: 800;
}

h2 {
    font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.018em;

	margin-bottom: .5em;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
}

h4 {
    font-size: .60em;
    font-weight: 800;
}

h5 {
	font-size: .75em;
}

i {
	font-size: 1.3em;
}

p {
    font-size: .8em;
}

.mainContext {
	background: white;
	padding: 1.0em;
	border-radius: .65em;
	
    -webkit-box-shadow: 0px 15px 33px -12px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 15px 33px -12px rgba(0,0,0,0.5);
	box-shadow: 0px 15px 33px -12px rgba(0,0,0,0.5);
}

.privacy_and_conditions {
    font-size: .65em;
    font-weight: 800;
}

.notSpam {
	font-weight: 600;

    margin-top: 1.5em;
	margin-bottom: 0;
}

.btn {
	background: rgb(42, 199, 173);
	color: whitesmoke;
	font-weight: 600;
	font-size: .8em;
	line-height: 22px;
}

.btn:hover {
	color: white;
}

.greyText {
	color: #686868;
}

.greenText {
	color: rgb(85, 212, 85);
}

/* ---------------------- V I D E O ----------------------  */
/* .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } */

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------- I N P U T ----------------------  */
:root {
	--input-color: #343a40;
	--input-border:  rgb(243, 243, 243);
	--input-background: rgb(243, 243, 243);
	--input-placeholder: #6e6e6e;
	--group-color: #6e6e6e;
	--group-border: var(--input-border);
}
.form-field {
	display: block;
	width: 100%;
	padding: 8px 0;
	line-height: 15px;
	font-size: 14px;
	font-weight: 500;
	font-family: inherit;
	border-radius: 3px;
	-webkit-appearance: none;
	color: var(--input-color);
	border: 1px solid var(--input-border);
	background: var(--input-background);
    transition: border 0.3s ease;
	border-left-color: rgb(243, 243, 243);

}
.form-field::placeholder {
	color: var(--input-placeholder);
}
.form-field:focus {
	outline: none;
}
.form-group {
	position: relative;
	display: flex;
	width: 100%;
	background: rgb(243, 243, 243);

	border-radius: .4em;
	overflow: hidden;

	margin-bottom: 1.0em;
}
.form-group > span,
.form-group .form-field {
	white-space: nowrap;
	display: block;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
	margin-left: -1px;
	font-weight: 600;
}
.form-group .form-field {
	position: relative;
	z-index: 1;
	flex: 1 1 auto;
	width: 1%;
	margin-top: 0;
	margin-bottom: 0;
}
.form-group > span {
	text-align: center;
	padding: 13.5px 18px;
	font-size: 13px;
	line-height: 13px;
	color: var(--group-color);
	border: 1px solid var(--group-border);
	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
* {
	box-sizing: inherit;
}
*:before,
*:after {
	box-sizing: inherit;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	body {
		padding-top: 0;
	}

	.videoSide {
		max-width: 20em;
		padding-bottom: .5em;
		margin: 0 auto;
	}

	.video-container {
		height: 15em;
	}

	.mainContext {
		max-width: 20em;
		margin: 0 auto;
	}

	.context {
		display: flex;
		flex-direction: column-reverse;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		padding-top: 0;
	}

	.videoSide {
		max-width: 20em;
		padding-bottom: .5em;
		margin: 0 auto;
	}

	.video-container {
		height: 15em;
	}

	.context {
		display: flex;
		flex-direction: column-reverse;
	}

	.mainContext {
		max-width: 20em;
		margin: 0 auto
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	body {
		height: 100vh;
	}
	
	.video-container {
		height: 18em;
	}

	.videoSide {
		max-width: 20em;
		margin-right: auto;
	}

	.mainContext {
		width: 20em;
		margin-left: auto;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	body {
		height: 100vh;
	}
	
	.video-container {
		height: 18em;
	}

	.videoSide {
		max-width: 20em;
		margin-right: auto;
	}

	.mainContext {
		width: 20em;
		margin-left: auto;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
		height: 100vh;
	}
	
	.video-container {
		height: 18em;
	}

	.videoSide {
		max-width: 20em;
		margin-right: auto;
	}

	.mainContext {
		width: 20em;
		margin-left: auto;
	}
}