body {
	font-family: 'Lato', sans-serif;
	line-height: 1.55;
}

h1,
h2,
h3 {
	font-weight: bold;
}

h2 {
	font-size: 2.8em;
	color: whitesmoke;
	font-weight: 800;
}

i {
	font-size: 1.5em;
}

hr {
	height: .5px;
	background: rgba(0, 0, 0, 0.021);
}

.mainContainer {
	width: 100%;
}

.signupSection {
	width: 25.5em;
	margin: 0 auto;
}

.descSection {
	width: 23em;
	margin: 0 auto;
	padding-bottom: 1.45em;
}

.skewedBg {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('page2background_v3.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 19em;
	clip-path: polygon(0 0%, 0 100%, 100% 82%, 100% 0%);
}

.btn {
	font-weight: 600;
}

.greyBox {
	background: rgba(0, 0, 0, 0.13);
	height: 1.7em;
	width: 100%;
	margin-top: 1.3em;
}

.iconText {
	font-weight: 800;
	line-height: 1.5;
}
